* {
    padding: 0;
    margin: 0;
}

body, button, input, select, textarea, h1, h4 {
    font-family: 'PingFangSC', 'helvetica neue', 'hiragino sans gb', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', 'sans-serif' !important;
}

.broadcast-wrap {
    min-height: 400px;
    background: #fff;
}

.bro-banner-wrap {
    box-sizing: border-box;
    margin: 32px 64px 0;
    box-shadow: 0 12px 24px 0 rgba(7, 17, 27, .2);
    border-radius: 8px;
    height: 400px;
    background-color: #93999f;
    overflow: hidden;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.bro-bgfff {
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, .06);
    background-color: #fff;
    width: 100%;
}

.bro-bg000 {
    box-shadow: 0 2px 4px 0 rgba(7, 17, 27, .06);
}

.bro-list-wrap {
    margin: 0 64px;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 64px 0;
    overflow: auto;
}

.bro-list-wrap-title {
    line-height: 36px;
    text-align: center;
}

.bro-title-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url(../broadcast/images/bro-title.png) no-repeat;
    background-size: 100%
}

.bro-title-icon-l {
    background-position: center 0;
    margin-right: 24px;
}

.bro-title-icon-r {
    margin-left: 24px;
    background-position: center -36px;
}

.bro-list {
    margin-left: auto;
    margin-right: auto;
    padding-top: 36px;
    overflow: auto;
    width: 100%;
}

.bro-list li {
    display: block;
    float: left;
    margin-right: 5%;
    margin-bottom: 60px;
    height: 240px;
    width: 320px;
    text-align: center;
    cursor: pointer;
}

.bro-list li .bro-list-card {
    background: none;
    height: 100%;
}

.bro-list li .bro-list-card .bro-pic-wrap {
    position: relative;
    height: 70%;
}

.bro-list li .bro-list-card .bro-pic-wrap .bro-pic {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.bro-pic-wrap b {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/play-bg.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    transition: all ease-out 250ms;
    -webkit-transition: all ease-out 250ms;
    -moz-transition: all ease-out 250ms
}

.bro-list li .bro-list-card .bro-list-title {
    display: block;
    padding: 12px 8px;
    width: 100%;
    height: 30%;
    text-align: left;
}

.bro-list-title h4, .bro-list-title p, .bro-list-title p i, .bro-list-title p span {
    line-height: 30px;
}

.bro-list-download , .bro-list-download+i {
    float: right;
    margin-left: 5px;
}

.bro-list-download:hover+i {
    color: #108ee9;
}

.bro-list-wrap .bro-list li a:hover h4 {
    color: #108ee9;
}

.bro-list-wrap .bro-list li a:hover b {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/*broadcastIng  begin*/

.bro-content {
    position: relative;
    width: 100%;
    height: 650px;
    margin-bottom: 20px;
}

.bro-header {
    height: 60px;
    background-color: #14191e;
}

.bro-header a i {
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #bfbfbf;
}

.bro-header h5 {
    display: inline;
    height: 100%;
    width:100%;
    text-align: center;
    color: #bfbfbf;
}

.bro-main {
    position: absolute;
    background: #000;
    height: 610px;
    width:100%;
}

.bro-video-player video {

}


/* bro-section-list start*/
.bro-section-list {
    position: absolute;
    top:0;
    right:-300px;
    width: 300px;
    /*min-width: 260px;*/
    height: 100%;
    border-top:1px solid #000;
    background-color: #14191e;
}

/*bro-operator start*/
.bro-operator {
    position: absolute;
    top:30%;
    left: -50px;
    width: 50px;
}

.bro-op {
    margin-bottom: 2px;
    width: 100%;
    height: 60px;
    background-color: #404040;
    text-align: center;
    color:#bfbfbf;
}

.bro-op .fa {
    height: 30px;
    line-height: 40px;
}

.bro-op:hover {
    background-color: #108ee9;
    color: #fff;
}

/* bro-section-content start*/
.bro-section-content {
    padding:20px;
    color: #bfbfbf;
}

.bro-section-content h4 {
    height: 40px;
    color: #bfbfbf;
}

.bro-section-content li {
    line-height: 30px;
}

.bro-section-download {
    margin-top: 60px;
}

.bro-section-download i {
    width: 30px;
}

.bro-section-content ul i {
    width: 30px;
    font-size: 18px;
    line-height: 50px;
}

.bro-section-content ul li a {
    display: inline-block;
    width: 100%;
    color: #bfbfbf;
}

.bro-section-content ul li a:hover {
    color: #108ee9;
}
/*broadcastIng  end*/